* {
    color: #FFFFFF;
    font-family: Roboto,
        sans-serif;
    font-weight: 400;
}

p {
    text-align: center;
}

.logo {
    display: flex;
    gap: 11px;
    width: 126px;
    margin-right: 77px;
    font-size: 18px;
    height: 35px;
    /* margin-top: 72px; */
}

.logo_div {
    border-radius: 3px;
    background: #4B5563;
    padding: 6px 12px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    margin: 0;
}

.logo>p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    max-width: 1080px;
    margin: 0 auto;
}

header {
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    font-size: 18px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
}

nav {
    max-width: 1080px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    align-items: center;
}

ul li:first-child {
    margin-right: 52px;
}

ul li:nth-child(2) {
    margin-right: 39px;
}

.search {
    height: 40px;
    position: relative;
    width: 224px;
    margin-left: auto;
}

.search img {
    position: absolute;
    top: 14px;
    left: 18px;
    width: 14px;
    height: 14px;
}

.search input {
    background: #1f293799;
    outline: none;
    border: none;
    color: white;
    padding: 11px 12px 9px 49px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 400;
}

#section1>p {
    margin: 0 0 14px 0;
    opacity: 60%;
}

#section1 span {
    margin: 0 12px;
}

#section1_logo>img {
    width: 50px;
    height: 50px;
}

#section1_logo {
    display: flex;
    gap: 16px;
    justify-content: center;
}

#section1_logo_div {
    flex-direction: column;
    display: flex;
    gap: 15px;
}

#section1_logo_div>p {
    margin: 0;
    text-align: left;
    font-weight: 400;
    letter-spacing: 0em;
}

#section1_logo_div>p:first-child {
    font-size: 16px;
}

#section1_logo_div>p:last-child {
    font-size: 14px;
}

h1 {
    line-height: 38px;
    text-align: center;
    margin: 0 0 30px 0;
}

#Rectangle {
    margin-bottom: 69px;
    text-align: center;
    margin-top: 73px;
}

#Rectangle>img {
    max-width: 896px;
}

#section2 {
    display: flex;
    margin: 0 auto;
    max-width: 708px;
    flex-direction: column;
    gap: 30px;
}

#section2>p {
    font-weight: 400;
    text-align: left;
    line-height: 32px;
}

.p1 {
    font-size: 20px;
}

.p2 {
    font-size: 16px;
}



footer {
    margin: 108px 0 77px;
    opacity: 60%;
}