* {
    font-family: Open Sans;
}

a {
    color: #089FE0;
}

body {
    background: linear-gradient(0deg, #F39494, #F39494);
}

main {
    width: 582px;
    height: 573px;
    border-radius: 10px;
    background: #FFFEFE;
    margin: 225px 429px;
}

form {
    margin: 0 94px 91px;
    padding-top: 72px;
}

h1 {
    width: 383px;
    height: 54px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #333333;
    margin: 0;
}

form p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 47px;
}

input,
button {
    margin-bottom: 22px;
    height: 44px;
    width: 394px;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    background: #F5F5F5;
    font-size: 16px;
    font-weight: 400;
}

input:focus {
    outline: 0;
}

#company {
    font-weight: 600;
    background: #FFFFFF;
}

#name {
    width: 189px;
    font-style: italic;
    color: #999999;
}

#surname {
    width: 189px;
    font-style: italic;
    color: #999999;
}

#e-mail {
    font-style: italic;
    color: #999999;
}

#submit {
    font-size: 18px;
    text-align: center;
    background: #089FE0;
    border: none;
}

#agree {
    width: 15px;
    height: 16px;
    font-size: 14px;
    line-height: 19px;
}